{% extends "page.twig" %}

{% set title="Accounts" %}

{% block content %}
  <div class="row">
    <p>Manage your accounts here. These are distinct business entities, like your organization or clients, that will contain applications and have administrators/developers assigned to them.</p>
  </div>
  <div class="row">
    <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-create"><i class="material-icons">add</i></a>
  </div>

  {% if accounts|length == 1 %}
    <div class="row">
      <div class="col s12">
        <p>You do not have any accounts yet. Click <a class="modal-trigger" href="#modal-create">here</a> to create an account </p>
      </div>
    </div>
  {% else %}
    <table class="highlight">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for key,value in accounts %}
        <tr>
          <td>{{ value.name }}</td>
          <td>
            <a class="btn-floating btn-small white hoverable">
              <i class="material-icons modal-acc-edit-trigger black-text" acc-id="{{ value.accid }}" acc-name="{{ value.name }}">edit</i>
            </a>
            <a class="btn-floating btn-small white hoverable">
              <i class="material-icons modal-acc-delete-trigger black-text" acc-id="{{ value.accid }}" acc-name="{{ value.name }}">delete</i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% include 'modals/acc_create.twig' %}

  {% include 'modals/acc_delete.twig' %}

  {% include 'modals/acc_edit.twig' %}

{% endblock %}
