{% extends "page.twig" %}

{% set title="Accounts" %}

{% block content %}
  <div class="row">
    <p>Manage your accounts here. These are distinct business entities, like your organization or clients, that will contain applications and have Account managers assigned to them.</p>
  </div>
  <div class="row ">
    <form method="get" action="/accounts">
      <div class="col s1 ">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-acc-create"><i class="material-icons">add</i></a>
      </div>
      <div class="col s6">
        <div class="input-field">
          <input type="text" class="validate" name="keyword" value="{{ keyword }}">
          <label for="keyword">Search text</label>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field">
          <select class="input-field" name="direction">
            <option value="asc" {% if direction == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if direction == "desc" %}selected{% endif %}>Descending</option>
          </select>
          <label for="direction">Direction</label>
        </div>
      </div>
      <div class="col s1">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row teal lighten-1 white-text">
    <h6 class="col col-height s10 valign-wrapper">Name</h6>
    <h6 class="col col-height s2 valign-wrapper">Actions</h6>
  </div>
  {% for accid, name in accounts %}
    <div class="row hoverable">
      <div class="col col-height s10 valign-wrapper">
        <a href="/applications?account_filter={{ accid }}" title="View applications under this account.">{{ name }}</a>
      </div>
      <div class="col col-height s2 valign-wrapper">
        <a class="btn-floating btn-small white hoverable">
          <i class="material-icons modal-acc-edit-trigger black-text" acc-name="{{ name }}" title="Edit this account.">edit</i>
        </a>
        <a class="btn-floating btn-small white hoverable">
          <i class="material-icons modal-acc-delete-trigger black-text" acc-name="{{ name }}" title="Delete this account.">delete</i>
        </a>
      </div>
    </div>
  {% endfor %}

  {% set url = "/accounts?keyword=" ~ keyword ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
  {% include 'partials/pagination.twig' %}

  {% include 'modals/acc_create.twig' %}

  {% include 'modals/acc_edit.twig' %}

  {% include 'modals/acc_delete.twig' %}

{% endblock %}
