{% extends "page.twig" %}

{% set title="Accounts" %}

{% block content %}
  <div class="row">
    <p>Manage your accounts here. These are distinct business entities, like your organization or clients, that will contain applications and have administrators/developers assigned to them.</p>
  </div>
  <div class="row">
    <form method="get" action="/accounts">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-acc-create"><i class="material-icons">add</i></a>
      </div>
      <div class="col s4">
        <div class="input-field">
          <input type="text" class="validate" name="keyword" value="{{ keyword }}">
          <label for="search">Search text</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="accid" {% if order_by == "accid" %}selected{% endif %}>Account ID</option>
            <option value="name" {% if order_by == "name" %}selected{% endif %}>Account name</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col 4">
        <div class="input-field">
          <select class="input-field" name="dir">
            <option value="ASC" {% if dir == "ASC" %}selected{% endif %}>Ascending</option>
            <option value="DESC" {% if dir == "DESC" %}selected{% endif %}>Descending</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s1">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for key,account in accounts %}
      <tr>
        <td><a href="/applications?filter={{ account.accid }}">{{ account.name }}</a></td>
        <td>
          <a class="btn-floating btn-small white hoverable">
            <i class="material-icons modal-acc-edit-trigger black-text" acc-id="{{ account.accid }}" acc-name="{{ account.name }}">edit</i>
          </a>
          <a class="btn-floating btn-small white hoverable">
            <i class="material-icons modal-acc-delete-trigger black-text" acc-id="{{ account.accid }}" acc-name="{{ account.name }}">delete</i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% set url = "/accounts?keyword=" ~ keyword ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
  {% include 'partials/pagination.twig' %}

  {% include 'modals/acc_create.twig' %}

  {% include 'modals/acc_edit.twig' %}

  {% include 'modals/acc_delete.twig' %}

{% endblock %}
