{% extends "page.twig" %}

{% set title="Applications" %}

{% block content %}
  <div class="row">
    <p>Manage your applications here. These are sub-units of an account, e.g. projects or clients of an account, that will contain API resources and have administrators/developers assigned to them.</p>
  </div>
  <div class="row">

    <form method="get" action="/applications">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-app-create"><i class="material-icons">add</i></a>
      </div>
      <div class="col s3">
        <div class="input-field">
          <input type="text" class="validate" name="keyword" value="{{ params['keyword'] }}">
          <label for="search">Search by application name</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select name="account">
            <option value="">All</option>
            {% for acc in allAccounts %}
              {% set selected = '' %}
              {% if acc.accid == params['account'] %}
                {% set selected = 'selected' %}
              {% endif %}
              <option value="{{ acc.accid }}" {{ selected }}>{{ acc.name }}</option>
            {% endfor %}
          </select>
          <label for="filter">Filter by account.</label>
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="accid" {% if params['order_by'] == "accid" %}selected{% endif %}>Account</option>
            <option value="appid" {% if params['order_by'] == "appid" %}selected{% endif %}>Application ID</option>
            <option value="name" {% if params['order_by'] == "name" %}selected{% endif %}>Application name</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <select class="input-field" name="dir">
            <option value="ASC" {% if params['dir'] == "ASC" %}selected{% endif %}>Ascending</option>
            <option value="DESC" {% if params['dir'] == "DESC" %}selected{% endif %}>Descending</option>
          </select>
          <label for="search">Sort direction</label>
        </div>
      </div>
      <div class="col s1">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  {% if applications is empty %}
    <div class="row">
      <div class="col s12">
        <p>You do not have any applications yet. Click <a class="modal-trigger" href="#modal-app-create">here</a> to create an application </p>
      </div>
    </div>
  {% else %}
    <table class="highlight">
      <thead>
      <tr>
        <th>Account</th>
        <th>Application</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for application in applications %}
          <tr>
            <td>{{ accounts[application['accid']].name }}</td>
            <td>{{ application.name }}</td>
            <td>
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-app-edit-trigger black-text" acc-id="{{ accid }}" app-id="{{ appid }}" app-name="{{ application.name }}">edit</i>
              </a>
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-app-delete-trigger black-text" app-id="{{ appid }}" app-name="{{ application.name }}">delete</i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% set url = "/applications?keyword=" ~ keyword ~ "&account=" ~ account ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
  {% include 'partials/pagination.twig' %}

  {% include 'modals/app_create.twig' %}

  {% include 'modals/app_edit.twig' %}

  {% include 'modals/app_delete.twig' %}

{% endblock %}
