{% extends "page.twig" %}

{% set title="Applications" %}

{% block content %}
  <div class="row">
    <p>Manage your applications here. These are sub-units of an account, e.g. projects or clients of an account, that will contain API resources and have administrators/developers assigned to them.</p>
  </div>
  <div class="row">

    <form method="get" action="/applications">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-app-create"><i class="material-icons">add</i></a>
      </div>
      <div class="col s4">
        <div class="input-field">
          <select name="filter">
            <option value="">All</option>
            {% for account in allAccounts %}
              {% set selected = '' %}
              {% if account.accid == filter %}
                {% set selected = 'selected' %}
              {% endif %}
              <option value="{{ account.accid }}" {{ selected }}>{{ account.name }}</option>
            {% endfor %}
          </select>
          <label for="filter">Filter the applications by their account.</label>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field">
          <input type="text" class="validate" name="search" value="{{ search }}">
          <label for="search">Search text</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="accid" {% if order_by == "accid" %}selected{% endif %}>Account ID</option>
            <option value="name" {% if order_by == "name" %}selected{% endif %}>Account name</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col 4">
        <div class="input-field">
          <select class="input-field" name="dir">
            <option value="ASC" {% if dir == "ASC" %}selected{% endif %}>Ascending</option>
            <option value="DESC" {% if dir == "DESC" %}selected{% endif %}>Descending</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s1">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  {% if applications is empty %}
    <div class="row">
      <div class="col s12">
        <p>You do not have any applications yet. Click <a class="modal-trigger" href="#modal-app-create">here</a> to create an application </p>
      </div>
    </div>
  {% else %}
    <table class="highlight">
      <thead>
      <tr>
        <th>Account</th>
        <th>Application</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for accid,account in accounts %}
          {% for appid,application in applications[accid] %}
            <tr>
              <td>{{ account.name }}</td>
              <td>{{ application.name }}</td>
              <td>
                <a class="btn-floating btn-small white hoverable">
                  <i class="material-icons modal-app-edit-trigger black-text" acc-id="{{ accid }}" app-id="{{ appid }}" app-name="{{ application.name }}">edit</i>
                </a>
                <a class="btn-floating btn-small white hoverable">
                  <i class="material-icons modal-app-delete-trigger black-text" app-id="{{ appid }}" app-name="{{ application.name }}">delete</i>
                </a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% include 'modals/app_create.twig' %}

  {% include 'modals/app_edit.twig' %}

  {% include 'modals/app_delete.twig' %}

{% endblock %}
