{% extends "page.twig" %}

{% set title="Applications" %}
{% set account = [] %}

{% block content %}
  <div class="row">
    <p>Manage your applications here. These are sub-units of an account, e.g. projects or clients of an account, that will contain API resources and have administrators/developers assigned to them.</p>
  </div>
  <div class="row">

    <form method="get" action="/applications">
      {% if 'Administrator' in roles or 'Account manager' in roles or 'Application manager' in roles %}
        <div class="col s1">
          <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-app-create"><i class="material-icons">add</i></a>
        </div>
      {% endif %}
      <div class="col s3">
        <div class="input-field">
          <input type="text" class="validate" name="keyword" value="{{ params['keyword'] }}">
          <label for="search">Search by application name</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select name="account_id">
            <option value="" selected>All</option>
            {% for account in accounts %}
              {% set selected = '' %}
              {% if account.accid == params['account_id'] %}
                {% set selected = 'selected' %}
              {% endif %}
              <option value="{{ account.accid }}" {{ selected }}>{{ account.name }}</option>
            {% endfor %}
          </select>
          <label for="filter">Filter by account.</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="account" {% if params['order_by'] == "account" %}selected{% endif %}>Account</option>
            <option value="application" {% if params['order_by'] == "application" %}selected{% endif %}>Application</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <select class="input-field" name="direction">
            <option value="asc" {% if params['direction'] == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if params['direction'] == "desc" %}selected{% endif %}>Descending</option>
          </select>
          <label for="search">Sort direction</label>
        </div>
      </div>
      <div class="col s1">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  {% if applications is empty %}
    <div class="row">
      <div class="col s12">
        <p>No applications.</p>
      </div>
    </div>
  {% else %}
    <div class="row teal lighten-1 white-text">
      <h6 class="col col-height s5 valign-wrapper">Account</h6>
      <h6 class="col col-height s5 valign-wrapper">Application</h6>
      <h6 class="col col-height s2 valign-wrapper">Actions</h6>
    </div>
      {% for application in applications %}
        {% for acc in accounts %}
          {% if application.accid == acc.accid %}
            {% set account = acc %}
          {% endif %}
        {% endfor %}
        <div class="row hoverable">
          <div class="col col-height s5 valign-wrapper">
            <a href="/applications?account_id={{ application.accid }}" title="Filter applications for this account.">{{ account.name }}</a>
          </div>
          <div class="col col-height s5 valign-wrapper">
            {{ application.name }}
          </div>
          <div class="col col-height s2 valign-wrapper">
            {% if application.appid > 2 and ('Administrator' in roles or 'Account manager' in roles or 'Application manager' in roles) %}
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-app-edit-trigger black-text" accid="{{ application.accid }}" appid="{{ application.appid }}" name="{{ application.name }}" title="Edit this application.">edit</i>
              </a>
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-app-delete-trigger black-text" appid="{{ application.appid }}" name="{{ application.name }}" title="Delete this application.">delete</i>
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
  {% endif %}

  {% set url = "/applications?keyword=" ~ keyword ~ "&account=" ~ account ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
  {% include 'partials/pagination.twig' %}

  {% include 'modals/app_create.twig' %}

  {% include 'modals/app_edit.twig' %}

  {% include 'modals/app_delete.twig' %}

{% endblock %}
