{% extends "page.twig" %}

{% set title="Invites" %}

{% block content %}
  <div class="row">
    <p>Manage your account invites here.</p>
  </div>
  <div class="row">
    <form method="get" action="/invites">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-user-invite" title="Invite users to ApiOpenStudio"><i class="material-icons">email</i></a>
      </div>
      <div class="col s3">
        <div class="input-field">
          <label for="keyword">Search email</label>
          <input type="text" class="validate" name="email" value="{{ params['email'] }}">
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="iid" {% if params['order_by'] == "iid" %}selected{% endif %}>ID</option>
            <option value="created" {% if params['order_by'] == "created" %}selected{% endif %}>Date created</option>
            <option value="email" {% if params['order_by'] == "email" %}selected{% endif %}>Email</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field">
          <select class="input-field" name="direction">
            <option value="asc" {% if params.direction == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if params.direction == "desc" %}selected{% endif %}>Descending</option>
          </select>
          <label for="direction">Direction</label>
        </div>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row teal lighten-1 white-text">
    <h6 class="col col-height s2 valign-wrapper">ID</h6>
    <h6 class="col col-height s2 valign-wrapper">Date created</h6>
    <h6 class="col col-height s6 valign-wrapper">Email</h6>
    <h6 class="col col-height s1 valign-wrapper">Actions</h6>
  </div>
  {% for invite in invites %}
    <div class="row hoverable">
      <div class="col col-height s2 valign-wrapper">{{ invite.iid }}</div>
      <div class="col col-height s2 valign-wrapper">{{ invite.created }}</div>
      <div class="col col-height s6 valign-wrapper">{{ invite.email }}</div>
      <div class="col col-height s1 valign-wrapper">
          <a class="btn-floating btn-small white hoverable">
            <i class="material-icons modal-invite-delete-trigger black-text" invite-iid="{{ invite.iid }}" invite-email="{{ invite.email }}" title="Delete this invite.">delete</i>
          </a>
      </div>
    </div>
  {% endfor %}

  {% set url = "/invites?email=" ~ params.email ~ "&order_by=" ~ params.order_by ~ "&direction=" ~ params.direction %}

  {% include 'partials/pagination.twig' %}

  {% include 'modals/invite_delete.twig' %}

  {% include 'modals/user_invite.twig' %}

{% endblock %}
