{% extends "page.twig" %}

{% set title="Resources" %}

{% block content %}
    <div class="row">
        <p>Manage your resources here.</p>
    </div>
    <div class="row ">
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light green hoverable" href="/resource/create"
               title="Create a resource."><i class="material-icons">add</i></a>
        </div>
        <form method="get" action="/resources">
            <div class="col s2">
                <div class="input-field">
                    <input type="text" class="validate" name="keyword" value="{{ params.keyword }}">
                    <label for="keyword">Search for URI</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="filter_by_account">
                        <option value=""{% if params.filter_by_account is empty %} selected{% endif %}>None</option>
                        {% for account in accounts %}
                            <option value="{{ account.accid }}"{% if account.accid == params.filter_by_account %} selected{% endif %}>{{ account.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="search">Filter by account</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="filter_by_application">
                        <option value=""{% if params.filter_by_application is empty %} selected{% endif %}>None</option>
                        {% for application in applications %}
                            <option value="{{ application.appid }}"{% if application.appid == params.filter_by_application %} selected{% endif %}>{{ application.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="search">Filter by application</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="order_by">
                        <option value="name"{% if params.order_by == "name" %} selected{% endif %}>Name</option>
                        <option value="account"{% if params.order_by == "account" %} selected{% endif %}>Account</option>
                        <option value="application"{% if params.order_by == "application" %} selected{% endif %}>Application</option>
                        <option value="method"{% if params.order_by == "method" %} selected{% endif %}>Method</option>
                        <option value="uri"{% if params.order_by == "uri" %} selected{% endif %}>URI</option>
                    </select>
                    <label for="search">Sort by</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="direction">
                        <option value="asc"{% if params.direction == "asc" %} selected{% endif %}>Ascending</option>
                        <option value="desc"{% if params.direction == "desc" %} selected{% endif %}>Descending</option>
                    </select>
                    <label for="direction">Direction</label>
                </div>
            </div>
            <div class="col s1">
                <button class="btn waves-effect waves-light" type="submit">Filter
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="row ">
        <div class="col s3">
            <form method="post" action="resource/import" enctype="multipart/form-data">
                <div class = "file-field input-field">
                    <div class="btn">
                        <span>Upload</span>
                        <input type="file" name="resource_file" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Resource file" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row teal lighten-1 white-text">
        <h6 class="col col-height s2 valign-wrapper">Name</h6>
        <h6 class="col col-height s2 valign-wrapper">Account</h6>
        <h6 class="col col-height s2 valign-wrapper">Application</h6>
        <h6 class="col col-height s2 valign-wrapper">Method</h6>
        <h6 class="col col-height s2 valign-wrapper">URI</h6>
        <h6 class="col col-height s2 valign-wrapper">Actions</h6>
    </div>
    {% for resource in resources %}
        <div class="row hoverable">
            <div class="col col-height s2 valign-wrapper tooltipped" data-position="bottom" data-delay="50"
                 data-tooltip="{{ resource.description }}">{{ resource.name }}</div>
            <div class="col col-height s2 valign-wrapper">
                {% set accid, accname = "", "" %}
                {% for application in applications %}
                    {% for account in accounts %}
                        {% if account.accid == application.accid and resource.appid == application.appid %}
                            {% set accid, accname = account.accid, account.name %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <a href="/resources?filter_by_account={{ accid }}" title="Filter resources by this account.">{{ accname }}</a>
            </div>
            <div class="col col-height s2 valign-wrapper">
                {% set appid, appname = "", "" %}
                {% for application in applications %}
                    {% if resource.appid == application.appid %}
                        {% set appid, appname = application.appid, application.name %}
                    {% endif %}
                {% endfor %}
                <a href="/resources?filter_by_application={{ appid }}" title="Filter resources by this application.">{{ appname }}</a>
            </div>
            <div class="col col-height s2 valign-wrapper">{{ resource.method }}</div>
            <div class="col col-height s2 valign-wrapper">{{ resource.uri }}</div>
            <div class="col col-height s2 valign-wrapper">
                <a class="btn-floating btn-small white hoverable" href="/resource/edit/{{ resource.resid }}">
                    <i class="material-icons black-text" title="Edit this resource.">edit</i>
                </a>
                <a class="btn-floating btn-small white hoverable" href="#">
                    <i class="material-icons modal-resource-download-trigger black-text" resid="{{ resource.resid }}"
                       res-name="{{ resource.name }}" title="Download this resource.">file_download</i>
                </a>
                <a class="btn-floating btn-small white hoverable" href="#">
                    <i class="material-icons modal-resource-delete-trigger red-text" resid="{{ resource.resid }}"
                       res-name="{{ resource.name }}" title="Delete this resource.">delete</i>
                </a>
            </div>
        </div>
    {% endfor %}

    {% set url = "/resources?keyword=" ~ params.keyword ~ "&filter_by_account=" ~ params.filter_by_account ~ "&filter_by_application=" ~ params.filter_by_application ~ "&order_by=" ~ params.order_by ~ "&dir=" ~ params.dir %}
    {% include 'partials/pagination.twig' %}

    {% include 'modals/resource_delete.twig' %}
    {% include 'modals/resource_download.twig' %}

{% endblock %}
