{% extends "page.twig" %}

{% set title="Resources" %}

{% block content %}
  <script>
    // var GATERDATA = GATERDATA || {};
    GATERDATA.accAppMap = [];
    {% for appid, application in applications %}
      GATERDATA.accAppMap["{{ application.name }}"] = "{{ accounts[application.accid] }}";
    {% endfor %}
  </script>
  <div class="row">
    <p>Create a new resource.</p>
    <p>Import a GaterData or Swagger file using the upload button.</p>
  </div>
  <form method="post" action="/resource/upload" id="create-resource">

    <div class="row">
      <div class="col s4">
        <label>Upload a local file into the resource definition.</label>
        <div class="file-field input-field">
          <div class="btn">
            <span>Browse</span>
            <input type="file" id="upload-resource-file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="row teal lighten-1 white-text">
      <div class="col col-height s8 valign-wrapper">Resource definition</div>
      <div class="col col-height s4 valign-wrapper">Functions</div>
    </div>

    <div class="row">

      <div class="input-field col s8">
        <div class="row">
          <div class="input-field col s6">
            <select required class="validate" name="acc">
              <option value="" disabled selected>Please select</option>
              {% for name in accounts %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
            <label>Account</label>
          </div>
          <div class="input-field col s6">
            <select required class="validate" name="app">
              <option value="" disabled selected>Please select</option>
              {% for application in applications %}
                <option value="{{ application.name }}">{{ application.name }}</option>
              {% endfor %}
            </select>
            <label>Application</label>
          </div>
        </div>
        <div class="row">
          <label>Metadata</label>
          <textarea class="materialize-textarea" placeholder="Enter your resource definition here..." name="meta" required class="validate"></textarea>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Upload<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

      <div class="col s4">
        {% include 'partials/processor-definitions.twig' %}
      </div>
    </div>
  </form>
{% endblock %}
