{% extends "page.twig" %}

{% set title="Roles" %}

{% block content %}
    <div class="row">
        <p>Manage your roles here. Roles are used for limiting access to resources. You can create and assign a role for a set of users, and then limit access by role to a resource.</p>
    </div>
    <div class="row ">
        <form method="get" action="/roles">
            <div class="col s1 ">
                <a class="btn-floating btn-large waves-effect waves-light green modal-trigger modal-role-create-trigger hoverable" href="#"><i class="material-icons">add</i></a>
            </div>
            <div class="col s6">
                <div class="input-field">
                    <input type="text" class="validate" name="keyword" value="{{ keyword }}">
                    <label for="keyword">Search text</label>
                </div>
            </div>
            <div class="col s4">
                <div class="input-field">
                    <select class="input-field" name="direction">
                        <option value="asc" {% if direction == "asc" %}selected{% endif %}>Ascending</option>
                        <option value="desc" {% if direction == "desc" %}selected{% endif %}>Descending</option>
                    </select>
                    <label for="direction">Direction</label>
                </div>
            </div>
            <div class="col s1">
                <button class="btn waves-effect waves-light" type="submit">Filter
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row teal lighten-1 white-text">
        <h6 class="col col-height s10 valign-wrapper">Name</h6>
        <h6 class="col col-height s2 valign-wrapper">Actions</h6>
    </div>
    {% for role in roles %}
        <div class="row hoverable">
            <div class="col col-height s10 valign-wrapper">{{ role.name }}</a></div>
            <div class="col col-height s2 valign-wrapper">
                {% if accid != 1 %}
                    <a class="btn-floating btn-small white hoverable">
                        <i class="material-icons modal-role-edit-trigger black-text" rid="{{ role.rid }}" role-name="{{ role.name }}" title="Edit this role.">edit</i>
                    </a>
                    <a class="btn-floating btn-small white hoverable">
                        <i class="material-icons modal-role-delete-trigger black-text" rid="{{ role.rid }}" role-name="{{ role.name }}" title="Delete this role.">delete</i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% set url = "/roles?keyword=" ~ keyword ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
    {% include 'partials/pagination.twig' %}

    {% include 'modals/role_create.twig' %}

    {% include 'modals/role_update.twig' %}

    {% include 'modals/role_delete.twig' %}

{% endblock %}
