{% extends "page.twig" %}

{% set title="Users" %}

{% block content %}
  <div class="row">
    <div class="col s6">
      <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-user-invite" title="Invite a user"><i class="material-icons">add</i></a>
    </div>
    {% if mode == 'view' %}
      <div class="col s6 right-align">
        <a class="btn-floating btn-large white hoverable" href="/user/edit/{{ user.uid }}">
          <i class="material-icons modal-acc-edit-trigger black-text" title="Edit this user.">edit</i>
        </a>
      </div>
    {% endif %}
  </div>

  {% if mode == 'edit' %}<form method="post" action="/user/edit/{{ user.uid }}">{% endif %}
    <div class="row">
      <div class="col s6">
        <div class="input-field col s12">
          <input type="text" name="uid" disabled value="{{ user.uid }}">
          <label for="create-app-name">UID</label>
        </div>
        <div class="input-field col s12">
          <select id="active" name="active" class="validate" required {% if mode == 'view' %}disabled{% endif %}>
            <option value=""></option>
            <option value="0" {% if user.active == 0 %}selected{% endif %}>False</option>
            <option value="1" {% if user.active == 1 %}selected{% endif %}>True</option>
          </select>
          <label for="active">Active <span class="red-text">*</span></label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="name_first" required {% if mode == 'view' %}disabled{% endif %} value="{{ user.username }}">
          <label for="create-app-name">Username</label>
        </div>
        <div class="input-field col s12">
          <select id="honorific" name="honorific" class="validate" required {% if mode == 'view' %}disabled{% endif %}>
            <option value=""></option>
            <option value="Mr" {% if user.honorific == 'Mr' %}selected{% endif %}>Mr</option>
            <option value="Ms" {% if user.honorific == 'Ms' %}selected{% endif %}>Ms</option>
            <option value="Miss" {% if user.honorific == 'Miss' %}selected{% endif %}>Miss</option>
            <option value="Mrs" {% if user.honorific == 'Mrs' %}selected{% endif %}>Mrs</option>
            <option value="Dr" {% if user.honorific == 'Dr' %}selected{% endif %}>Dr</option>
            <option value="Prof" {% if user.honorific == 'Prof' %}selected{% endif %}>Prof</option>
            <option value="Hon" {% if suser.honorific == 'Hon' %}selected{% endif %}>Hon</option>
          </select>
          <label for="honorific">Title <span class="red-text">*</span></label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="name_first" required {% if mode == 'view' %}disabled{% endif %} value="{{ user.nameFirst }}">
          <label for="create-app-name">First name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="name_last" required {% if mode == 'view' %}disabled{% endif %} value="{{ user.nameLast }}">
          <label for="create-app-name">Last name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="email" required {% if mode == 'view' %}disabled{% endif %} value="{{ user.email }}">
          <label for="create-app-name">E-mail</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="company" {% if mode == 'view' %}disabled{% endif %} value="{{ user.company }}">
          <label for="create-app-name">Company</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="website" {% if mode == 'view' %}disabled{% endif %} value="{{ user.website }}">
          <label for="create-app-name">Website</label>
        </div>
        {% if mode == 'edit' %}
          <div class="input-field col s12">
            <button type='submit' class='btn-small red black-text waves-effect z-depth-1 y-depth-1'>Edit</button>
          </div>{% endif %}
      </div>
      <div class="col s6">
        <div class="input-field col s12">
          <input type="text" name="address_street" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressStreet }}">
          <label for="create-app-name">Street</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_suburb" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressSuburb }}">
          <label for="create-app-name">Suburb</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_city" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressCity }}">
          <label for="create-app-name">City</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_state" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressState }}">
          <label for="create-app-name">State</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_country" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressCountry }}">
          <label for="create-app-name">Country</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_postcode" {% if mode == 'view' %}disabled{% endif %} value="{{ user.addressPostcode }}">
          <label for="create-app-name">Postcode</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="phone_mobile" {% if mode == 'view' %}disabled{% endif %} value="{{ user.phoneMobile }}">
          <label for="create-app-name">Mobile</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="phone_work" {% if mode == 'view' %}disabled{% endif %} value="{{ user.phoneWork }}">
          <label for="create-app-name">Phone</label>
        </div>
      </div>
    </div>
  {% if mode == 'edit' %}</form>{% endif %}

  {% include 'modals/user_invite.twig' %}

  {% include 'modals/user_delete.twig' %}

{% endblock %}