{% extends "page.twig" %}

{% set title="Users" %}

{% block content %}
  <div class="row">
    <p>Manage your users here. View, invite, edit and remove users.</p>
  </div>
  <div class="row">
    <form method="get" action="/users">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-user-invite" title="Invite users to ApiOpenStudio"><i class="material-icons">email</i></a>
      </div>
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="/user/create" title="Add a user to ApiOpenStudio"><i class="material-icons">add</i></a>
      </div>
      <div class="col s4">
        <div class="input-field">
          <label for="keyword">Search text</label>
          <input type="text" class="validate" name="keyword" value="{{ params['keyword'] }}">
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <select class="input-field" name="order_by">
            <option value="username" {% if params['order_by'] == "username" %}selected{% endif %}>Username</option>
            <option value="name_first" {% if params['order_by'] == "name_first" %}selected{% endif %}>First name</option>
            <option value="name_last" {% if params['order_by'] == "name_last" %}selected{% endif %}>Last name</option>
            <option value="email" {% if params['order_by'] == "email" %}selected{% endif %}>Email</option>
            <option value="active" {% if params['order_by'] == "active" %}selected{% endif %}>Active status</option>
          </select>
          <label for="search">Sort by</label>
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <select class="input-field" name="direction">
            <option value="asc" {% if params.direction == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if params.direction == "desc" %}selected{% endif %}>Descending</option>
          </select>
          <label for="direction">Direction</label>
        </div>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row teal lighten-1 white-text">
    <h6 class="col col-height s2 valign-wrapper">Username</h6>
    <h6 class="col col-height s2 valign-wrapper">First name</h6>
    <h6 class="col col-height s2 valign-wrapper">Last name</h6>
    <h6 class="col col-height s3 valign-wrapper">Email</h6>
    <h6 class="col col-height s1 valign-wrapper">Active</h6>
    <h6 class="col col-height s2 valign-wrapper">Actions</h6>
  </div>
  {% for uid, user in users %}
    <div class="row hoverable">
      <div class="col col-height s2 valign-wrapper truncate">{{ user.username }}</div>
      <div class="col col-height s2 valign-wrapper truncate">{{ user.nameFirst }}</div>
      <div class="col col-height s2 valign-wrapper truncate">{{ user.nameLast }}</div>
      <div class="col col-height s3 valign-wrapper truncate">{{ user.email }}</div>
      <div class="col col-height s1 valign-wrapper truncate">{% if user.active == 0 %}False{% else %}True{% endif %}</div>
      <div class="col col-height s2 valign-wrapper">
        <a class="btn-floating btn-small white hoverable" href="/user/view/{{ user.uid }}">
          <i class="material-icons black-text" title="View this account.">remove_red_eye</i>
        </a>
        <a class="btn-floating btn-small white hoverable" href="/user/edit/{{ user.uid }}">
          <i class="material-icons black-text" title="Edit this account.">edit</i>
        </a>
        <a class="btn-floating btn-small white hoverable" href="#">
          <i class="material-icons modal-user-delete-trigger black-text" delete-user-username="{{ user.username }}" delete-user-uid="{{ user.uid }}" title="Delete this account.">delete</i>
        </a>
      </div>
    </div>
  {% endfor %}

  {% include 'modals/user_invite.twig' %}

  {% include 'modals/user_delete.twig' %}

{% endblock %}