{% extends "page.twig" %}

{% set title="Users" %}

{% block content %}
  <div class="row">
    <p>Manage your users here. View, invite, remove users and assign them roles in applications.</p>
  </div>
  <div class="row">
    <form method="get" action="/users">
      <div class="col s1">
        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-user-invite"><i class="material-icons">add</i></a>
      </div>
      <div class="input-field col s4 offset-s5">
        <select name="filter-account">
          {% set selected = '' %}
          {% if accountFilter == 'all' %}
            {% set selected = 'selected' %}
          {% endif %}
          <option value="all" {{ selected }}>All</option>
          {% for account in accounts %}
            {% set selected = '' %}
            {% if accountFilter == account.accid %}
              {% set selected = 'selected' %}
            {% endif %}
            <option value="{{ account.accid }}" {{ selected }}>{{ account.name }}</option>
          {% endfor %}
        </select>
        <label>Filter by Account</label>
      </div>
      <div class="input-field col s4 offset-s5">
        <select name="filter-application">
          {% set selected = '' %}
          {% if applicationFilter == 'all' %}
            {% set selected = 'selected' %}
          {% endif %}
          <option value="all" {{ selected }}>All</option>
          {% for application in applications %}
            {% set selected = '' %}
            {% if applicationFilter == application.appid %}
              {% set selected = 'selected' %}
            {% endif %}
            <option value="{{ application.appid }}" {{ selected }}>{{ application.name }}</option>
          {% endfor %}
        </select>
        <label>Filter by Application</label>
      </div>
      <div class="input-field col s4 offset-s5">
        <select name="filter-role">
          {% set selected = '' %}
          {% if roleFilter == 'all' %}
            {% set selected = 'selected' %}
          {% endif %}
          <option value="all" {{ selected }}>All</option>
          {% for role in roles %}
            {% set selected = '' %}
            {% if roleFilter == role.rid %}
              {% set selected = 'selected' %}
            {% endif %}
            <option value="{{ role.rid }}" {{ selected }}>{{ role.name }}</option>
          {% endfor %}
        </select>
        <label>Filter by Role</label>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light" type="submit" name="keyword">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="card-panel">
      <h5>Administrators</h5>
      <table class="responsive-table highlight">
        <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          {% for administrator in administrators %}
            <tr>
              <td>{{ administrator.username }}</td>
              <td>{{ administrator.nameFirst }}</td>
              <td>{{ administrator.nameLast }}</td>
              <td>{{ administrator.email }}</td>
              <td>
                <a class="btn-floating btn-small white hoverable">
                  <i class="material-icons modal-owner-edit-trigger black-text" user-account-id="{{ administrator.uid }}">edit</i>
                </a>
                <a class="btn-floating btn-small white hoverable">
                  <i class="material-icons modal-owner-delete-trigger black-text" user-account-id="{{ administrator.uid }}">delete</i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="card-panel">
      <h5>Account managers</h5>
      <table class="responsive-table highlight">
        <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Application</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for manager in managers %}
          <tr>
            <td>{{ manager.username }}</td>
            <td>{{ manager.nameFirst }}</td>
            <td>{{ manager.nameLast }}</td>
            <td>{{ manager.email }}</td>
            <td>
              <table class="responsive-table highlight">
                <tbody>
                {% for manager_account in manager_accounts %}
                  <td>{{ application.name }}</td>
                {% endfor %}
                </tbody>
              </table>
            </td>

            <td>
              <a class="btn-floating btn-small white hoverable" href="/user/edit/{{ user.uaid }}">
                <i class="material-icons black-text">edit</i>
              </a>
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-user-delete-trigger black-text" user-account-id="{{ user.uaid }}" user-name="{{ user.username }}">delete</i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="card-panel">
      <h5>Users</h5>
      <table class="responsive-table highlight">
        <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Application</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.nameFirst }}</td>
            <td>{{ user.nameLast }}</td>
            <td>{{ user.email }}</td>
            <td>
              <table class="responsive-table highlight">
                <tbody>
                {% for manager_account in manager_accounts %}
                  <td>{{ application.name }}</td>
                {% endfor %}
                </tbody>
              </table>
            </td>

            <td>
              <a class="btn-floating btn-small white hoverable" href="/user/edit/{{ user.uaid }}">
                <i class="material-icons black-text">edit</i>
              </a>
              <a class="btn-floating btn-small white hoverable">
                <i class="material-icons modal-user-delete-trigger black-text" user-account-id="{{ user.uaid }}" user-name="{{ user.username }}">delete</i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'modals/user_invite.twig' %}

  {% include 'modals/user_delete.twig' %}

{% endblock %}