{% extends "page.twig" %}

{% block content %}
  <div class="row">
    <p>Manage your users here. View, invite, remove users and assign them roles in applications.</p>
  </div>
  <div class="row">
    <div class="col s1">
      <a class="btn-floating btn-large waves-effect waves-light green modal-trigger hoverable" href="#modal-create"><i class="material-icons">add</i></a>
    </div>
    <div class="input-field col s4">
      <select>
        <option value="all" selected>All</option>
        {% for key,value in applications %}
          <option value="{{ value.appid }}">{{ value.name }}</option>
        {% endfor %}
      </select>
      <label>Filter by Application</label>
    </div>
  </div>

  <div class="row">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>&nbsp;</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      {% for userId,user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.nameFirst }}</td>
          <td>{{ user.nameLast }}</td>
          <td>{{ user.email }}</td>
          {% for appId,application in users.applications %}
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Application</th>
                  <th>Role</th>
                </tr>
                <tbody>
                  <td>{{ application.name }}</td>
                  <td>
                    {% for roleId,role in application.roles %}
                      <table>
                        <tbody>
                          <td>{{ role.name }}</td>
                        </tbody>
                      </table>
                    {% endfor %}
                  </td>
                </tbody>
            </table>
          {% endfor %}

          <!--td>{{ value.application }}</td>
          <td>{{ value.roles }}</td-->
          <td>
            <a class="btn-floating btn-small white hoverable">
              <i class="material-icons modal-app-edit-trigger black-text" app-id="{{ value.appId }}" app-name="{{ value.name }}">edit</i>
            </a>
            <a class="btn-floating btn-small white hoverable">
              <i class="material-icons modal-app-delete-trigger black-text" app-id="{{ value.appId }}" app-name="{{ value.name }}">delete</i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Add user modal -->
  <div id="modal-create" class="modal">
    <form method="post" action="/user/invite" id="application-create">
      <div class="modal-content">
        <div class="row">
          <h4>Add user</h4>
          <p>Please enter the email address of the user</p>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input type="email" class="validate" name="invite-email" id="invite-email">
            <label for="invite-email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              {% for rid,role in roles %}
                <option value="{{ rid }}">{{ role }}</option>
              {% endfor %}
            </select>
            <label>Roles</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4 offset-s8">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button class="btn waves-effect waves-light" type="submit" name="create">Invite</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
