{% extends "page.twig" %}

{% if user.uid is not empty %}
  {% set title="User edit" %}
{% else %}
  {% set title="User create" %}
{% endif %}

{% block content %}
  <div class="row">
    {% if user.uid is not empty %}
      <p>Edit user "{{ user.username }}" (uid: {{ user.uid }}) here.</p>
    {% else %}
      <p>Create a new user here.</p>
    {% endif %}
  </div>

  <form method="post" action="/user/upload">
    <input type="hidden" name="uid" value="{{ user.uid }}">
    <div class="row">
      <div class="col s6">
        <div class="input-field col s12">
          <select id="active" name="active" class="validate" required>
            <option value="false" {% if user.active is not empty and user.active == 0 %}selected{% endif %}>False</option>
            <option value="true" {% if user.active is empty or user.active == 1 %}selected{% endif %}>True</option>
          </select>
          <label for="active">Active <span class="red-text">*</span></label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="upload-username" required value="{{ user.username }}">
          <label for="upload-username">Username <span class="red-text">*</span></label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="email" required value="{{ user.email }}">
          <label for="email">E-mail <span class="red-text">*</span></label>
        </div>
        <div class="input-field col s12">
          <input type="password" name="upload-password" />
          <label for="upload-password">Password</label>
        </div>
        <div class="input-field col s12">
          <select id="honorific" name="honorific" class="validate" >
            <option value=""></option>
            <option value="Mr" {% if user.honorific == 'Mr' %}selected{% endif %}>Mr</option>
            <option value="Ms" {% if user.honorific == 'Ms' %}selected{% endif %}>Ms</option>
            <option value="Miss" {% if user.honorific == 'Miss' %}selected{% endif %}>Miss</option>
            <option value="Mrs" {% if user.honorific == 'Mrs' %}selected{% endif %}>Mrs</option>
            <option value="Dr" {% if user.honorific == 'Dr' %}selected{% endif %}>Dr</option>
            <option value="Prof" {% if user.honorific == 'Prof' %}selected{% endif %}>Prof</option>
            <option value="Hon" {% if suser.honorific == 'Hon' %}selected{% endif %}>Hon</option>
          </select>
          <label for="honorific">Title</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="name_first" value="{{ user.nameFirst }}">
          <label for="name_first">First name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="name_last" value="{{ user.nameLast }}">
          <label for="name_last">Last name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="company" value="{{ user.company }}">
          <label for="create-app-name">Company</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="website" value="{{ user.website }}">
          <label for="company">Website</label>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field col s12">
          <input type="text" name="address_street" value="{{ user.addressStreet }}">
          <label for="address_street">Street</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_suburb" value="{{ user.addressSuburb }}">
          <label for="address_suburb">Suburb</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_city" value="{{ user.addressCity }}">
          <label for="create-app-name">City</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_state" value="{{ user.addressState }}">
          <label for="address_city">State</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_country" value="{{ user.addressCountry }}">
          <label for="address_country">Country</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="address_postcode" value="{{ user.addressPostcode }}">
          <label for="address_postcode">Postcode</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="phone_mobile" value="{{ user.phoneMobile }}">
          <label for="phone_mobile">Mobile</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="phone_work" value="{{ user.phoneWork }}">
          <label for="phone_work">Phone</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type='submit' class='btn-small waves-green white-text waves-effect z-depth-1 y-depth-1'>
          {% if user.uid is not empty %}Update{% else %}Create{% endif %}<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>


  {% include 'modals/user_invite.twig' %}

  {% include 'modals/user_delete.twig' %}

{% endblock %}