{% extends "page.twig" %}

{% set title="Vars" %}

{% block content %}
    <div class="row">
        <p>Manage your persistent variables here. Variables are specific to applications, so you will only see the variables that you have permissions for.</p>
    </div>
    <div class="row ">
        <form method="get" action="/vars">
            <div class="col s1 ">
                <a class="btn-floating btn-large waves-effect waves-light green modal-trigger modal-var-create-trigger hoverable" href="#modal-var-create"><i class="material-icons">add</i></a>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input type="text" class="validate" name="keyword" value="{{ params.keyword }}">
                    <label for="keyword">Search text</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="filter_by_account">
                        <option value=""{% if params.filter_by_account is empty %} selected{% endif %}>Please select</option>
                        {% for account in accounts %}
                            <option value="{{ account.accid }}"{% if account.accid == params.filter_by_account %} selected{% endif %}>{{ account.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="acc_filter">Filter by account</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="filter_by_application">
                        <option value=""{% if params.filter_by_application is empty %} selected{% endif %}>Please select</option>
                        {% for application in applications %}
                            <option value="{{ application.appid }}"{% if application.appid == params.filter_by_application %} selected{% endif %}>{{ application.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="app_filter">Filter by application</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="order_by">
                        <option value=""{% if params.order_by is empty %} selected{% endif %}>Please select</option>
                        <option value="key"{% if params.order_by == "key" %} selected{% endif %}>Key</option>
                        <option value="account"{% if params.order_by == "account" %} selected{% endif %}>Account</option>
                        <option value="appid"{% if params.order_by == "appid" %} selected{% endif %}>Application</option>
                    </select>
                    <label for="order_by">Order by</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <select class="input-field" name="direction">
                        <option value="asc"{% if params.direction == "asc" %} selected{% endif %}>Ascending</option>
                        <option value="desc"{% if params.direction == "desc" %} selected{% endif %}>Descending</option>
                    </select>
                    <label for="direction">Direction</label>
                </div>
            </div>
            <div class="col s1">
                <button class="btn waves-effect waves-light" type="submit">Filter
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row teal lighten-1 white-text">
        <h6 class="col col-height s2 valign-wrapper">Account</h6>
        <h6 class="col col-height s2 valign-wrapper">Application</h6>
        <h6 class="col col-height s2 valign-wrapper">Key</h6>
        <h6 class="col col-height s4 valign-wrapper">Value</h6>
        <h6 class="col col-height s2 valign-wrapper">Actions</h6>
    </div>
    {% for var in vars %}
        <div class="row hoverable">
            <div class="col col-height s2 valign-wrapper">
                {% set accid, accname = '', '' %}
                {% for account in accounts %}
                    {% for application in applications %}
                        {% if var.appid == application.appid and account.accid == application.accid %}
                            {% set accid, accname = account.accid, account.name %}
                        {%  endif %}
                    {% endfor %}
                {% endfor %}
                <a href="/vars?filter_by_account={{ accid }}">{{ accname }}</a>
            </div>
            <div class="col col-height s2 valign-wrapper">
                {% set appid, appname = '', '' %}
                {% for application in applications %}
                    {% if var.appid == application.appid %}
                        {% set appid, appname = application.appid, application.name %}
                    {%  endif %}
                {% endfor %}
                <a href="/vars?filter_by_application={{ appid }}">{{ appname }}</a></div>
            <div class="col col-height s2 valign-wrapper">{{ var.key }}</div>
            <div class="col col-height s4 valign-wrapper">{{ (var.val|length > 100 ? var.val|slice(0, 100) ~ '…'|escape : var.val) }}</div>
            <div class="col col-height s2 valign-wrapper">
                <a class="btn-floating btn-small white hoverable modal-trigger modal-var-edit-trigger" vid="{{ var.vid }}" appid="{{ var.appid }}" key="{{ var.key }}" val="{{ var.val }}" href="#modal-var-edit">
                    <i class="material-icons black-text" title="Edit this var.">edit</i>
                </a>
                <a class="btn-floating btn-small white hoverable modal-trigger modal-var-delete-trigger" vid="{{ var.vid }}" key="{{ var.key }}" href="#modal-var-delete">
                    <i class="material-icons black-text" title="Delete this var.">delete</i>
                </a>
            </div>
        </div>
    {% endfor %}

    {% set url = "/roles?keyword=" ~ params.keyword ~ "&acc_filter=" ~ params.acc_filter ~ "&app_filter=" ~ params.appfilter ~ "&order_by=" ~ params.order_by ~ "&dir=" ~ params.dir %}
    {% include 'partials/pagination.twig' %}

    {% include 'modals/var_create.twig' %}

    {% include 'modals/var_edit.twig' %}

    {% include 'modals/var_delete.twig' %}

{% endblock %}
