<!-- Create account modal -->
<script>
  APIOPENSTUDIO.accAppMap = [];
  {% for appid, application in applications %}
    APIOPENSTUDIO.accAppMap[{{ appid }}] = {'accid': {{ application.accid }}, 'name': "{{ application.name }}"};
  {% endfor %}
</script>
<div id="modal-user-role-create" class="modal">
  <form method="post" action="/user/role/create" id="user-role-create">
    <div class="modal-content">
      <h4>Create User role</h4>
      <p>Add a role for a user in an application.</p>
      <div class="row">
        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="uid">
              <option value="">Please select</option>
              {% for uid, user in users %}
                <option value="{{ uid }}">{{ user.username }}</option>
              {% endfor %}
            </select>
            <label for="account">Username</label>
          </div>
        </div>
        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="rid">
              <option value="">Please select</option>
              {% for rid, role in roles %}
                <option value="{{ rid }}">{{ role }}</option>
              {% endfor %}
            </select>
            <label for="rid">Role</label>
          </div>
        </div>
        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="accid">
              <option value="">None</option>
              {% for account in accounts %}
                <option value="{{ account.accid }}">{{ account.name }}</option>
              {% endfor %}
            </select>
            <label for="accid">Account</label>
          </div>
        </div>
        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="appid">
              <option value="">None</option>
              {% for appid, application in applications %}
                <option value="{{ appid }}" accid="{{ application.accid }}">{{ application.name }}</option>
              {% endfor %}
            </select>
            <label for="appid">Application</label>
          </div>
        </div>
      </div>
      <div class="row">
        <strong>
          <p>Note:</p>
          <ul>
            <li>Administrators are not assigned to any accounts or applications (they are global).</li>
            <li>Account managers are not assigned to any applications (this role only has relevance to accounts).</li>
          </ul>
        </strong>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>
