<!-- Create var modal -->
<script>
  APIOPENSTUDIO.accAppMap = [];
  {% for appid, application in applications %}
  APIOPENSTUDIO.accAppMap[{{ appid }}] = {'accid': {{ application.accid }}, 'name': "{{ application.name }}"};
  {% endfor %}
</script>
<div id="modal-var-create" class="modal">
  <form method="post" action="/var/create" id="var-create">
    <div class="modal-content">
      <h4>Create Var</h4>

      <div class="row">

        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="create-var-accid">
              <option value="">None</option>
              {% for account in accounts %}
                <option value="{{ account.accid }}">{{ account.name }}</option>
              {% endfor %}
            </select>
            <label for="create-var-accid">Account</label>
          </div>
        </div>

        <div class="col s3">
          <div class="input-field">
            <select class="input-field" name="create-var-appid">
              <option value="">None</option>
              {% for application in applications %}
                <option value="{{ application.appid }}" accid="{{ application.accid }}">{{ application.name }}</option>
              {% endfor %}
            </select>
            <label for="create-var-appid">Application</label>
          </div>
        </div>

        <div class="col s3">
          <div class="input-field">
            <input type="text" class="validate" name="create-var-key" required>
            <label for="create-var-key">Key</label>
          </div>
        </div>

        <div class="col s3">
          <div class="input-field">
            <input type="text" class="validate" name="create-var-val" required>
            <label for="create-var-val">Value</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Create</button>
        </div>
      </div>

    </div>
  </form>
</div>
